html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}
@mixin btn {
    @apply rounded-full py-2 px-9 duration-200;
}
.btn-red {
    @include btn();
    @apply bg-app-red-1 text-white hover:ring-2;
}
.main-container {
  @apply max-w-7xl mx-auto px-4 md:px-8 2xl:px-0;
}

.page-fade-enter-active,
.page-fade-leave-active {
  transition-duration: 0.25s;
  transition-property: opacity;
  transition-timing-function: ease-in;
}
.page-fade-enter-from,
.page-fade-leave-active {
  opacity: 0;
}

.error-input {
  @apply ring-red-500 focus:ring-red-500;
}

/* html.dark {
  background: #121212;
} */
